<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up Page</title>
</head>
<body>
    <div>
        <form id="signup-form">
            <lable for="name">Enter name</lable>
            <input type="text" name="name" id="name"required/>
            <lable for="email">Enter email</lable>
            <input type="email" name="email" id="email"required/>
            <lable for="phonenumber">Enter phone number</lable>
            <input type="phonenumber" name="phonenumber" id="phonenumber"required/>
            <lable for="password">Enter Password</lable>
            <input type="password" name="password" id="password"required/>
            <button type="submit" id="signupbtn">Signup</button><br>
            <a href="/views/login.html" class="anchor">Login</a>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="/public/js/signup.js"></script>

    
</body>
</html>